<% if @user.errors.any? %>
  <h4> <%=  pluralize(@user.errors.count, "error") %> prohibited this record from being saved: </h4>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><strong class="error"> <%= message %> </strong> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit 'Create' %>
<% end %>
