<%= link_to 'Sign Out', user_path(current_user.id), method: :DELETE  %>
<br>
<br>
<%= form_for @link do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_field :url, placeholder: 'Url' %>
  <%= f.submit 'Create Link' %>
<% end %>
<br>
<br>
<%= text_field_tag :search, nil, placeholder: 'Search' %>

<div class='links'>
  <% @links.each do |link| %>
    <div class='link' id="<%= link.id %>">
      <h3 class='content'><%= link.title %></h3>
      <ul>
        <li class="<%= link.status_output %>">
          <a class='content' href='<%= link.url %>'><%= link.url %></a> -
          <button class='content'>Mark as <%= link.status_output %></button>
        </li>
        <li><a href='/links/<%= link.id %>/edit'>Edit</a></li>
      </ul>
    </div>
  <% end %>
</div>
