<%= link_to 'Sign Out', user_path(current_user.id), method: :DELETE  %>
<br>
<br>
<%= form_for @link do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_field :url, placeholder: 'Url' %>
  <%= f.submit 'Create Link' %>
<% end %>

<div class='links'>
  <% @links.each do |link| %>
    <div id="<%= link.id %>">
      <h3><%= link.title %></h3>
      <ul>
        <li class="<%= link.status_output %>"><%= link.url %> -
                   <button>Mark as <%= link.status_output %></button>
        </li>
      </ul>
    </div>
  <% end %>
</div>
